$dosis: 'dosisregular', sans-serif;
$dosis-bold: 'dosisbold', sans-serif;
$dosis-semi-bold: 'dosissemibold', sans-serif;

$roboto: 'robotoregular', sans-serif;
$roboto-bold: 'robotobold', sans-serif;
$roboto-light: 'robotolight', sans-serif;
$roboto-medium: 'robotomedium', sans-serif;
$roboto-light-italic: 'robotolight_italic', sans-serif;
$roboto-bold-italic: 'robotobold_italic', sans-serif;
$roboto-mono: 'roboto_monoregular', sans-serif;
$roboto-mono-light: 'roboto_monolight', sans-serif;
$roboto-mono-bold: 'roboto_monobold', sans-serif;
$roboto-mono-medium: 'roboto_monomedium', sans-serif;

$rubik: 'rubikregular', sans-serif;
$rubik-bold: 'rubikbold', sans-serif;
$rubik-black: 'rubikblack', sans-serif;
