.sign-up-form {
    .header {
        text-align: center;

        h3 {
            margin-bottom: 23px;
            color: $color-gray-chateau;
        }
    }

    legend {
        margin-bottom: 20px;
        font-size: 21px;
        color: $color-gray-mine-shaft;
        text-align: center;
        border: 0;
        border-bottom: 1px solid $color-gray-mercury;
    }

    .agreements {
        margin-bottom: 10px;
        font-weight: 800;
        text-align: center;
    }

    a {
        color: $color-faded-green;
        text-decoration: none;
    }

    button {
        width: 365px;
        height: 65px;
        margin-bottom: 10px;
        color: $color-white;
        text-align: center;
        background-color: $color-faded-green;
    }

    .redirection-link {
        display: block;
    }
}
