.md-theme-default {
    .ra-tooltip-container {
        &.md-button,
        &.md-icon-button {
            &.md-button {
                cursor: text;
            }
        }

        &.ra-custom-tooltip-container {
            &:hover {
                background: transparent;
            }
        }

        .md-ink-ripple {
            display: none;
        }
    }
}
