// General
body {
    font-family: $roboto-light;
    font-size: 16px;
    color: $color-black;
}

// ------------------------
// Style guide typography:
// ------------------------

//Roboto Bold titles
$ra-titles: (
    'xlarge': 5rem,
    'large': 3.5rem,
    'medium': 2rem
);

@each $class, $size in $ra-titles {
    .ra-title-#{$class} {
        font-family: $roboto-bold-italic;
        font-size: $size;
        line-height: .85em;
    }
}

// Title
.ra-title {
    font-family: $roboto-light;
    font-size: 1.5rem;
    line-height: 1.25em;

    img {
        max-height: 18px;
        vertical-align: baseline;
    }
}

// Header
.ra-header {
    font-family: $roboto-light;
    font-size: 1.25rem;
    line-height: 1.25em;

    img {
        max-height: 18px;
        vertical-align: baseline;
    }

    @include breakpoint(medium up) {
        font-size: 1.5rem;
    }
}

// Subtitle
.ra-subtitle {
    font-family: $roboto-light;
    font-size: 1rem;
    line-height: 1.25em;
}

//Bodycopy
.ra-bodycopy {
    font-family: $roboto-light;
    font-size: 1rem;
    line-height: 1.25em;
    text-transform: none;

    &--bold {
        font-family: $roboto-bold;
        color: $color-greyish-brown;
    }

    &--small {
        font-size: .875rem;
        color: $color-greyish-brown;
    }
}

// Money
.ra-money {
    font-size: inherit;
    line-height: 1;

    &-currency {
        font-family: $dosis;
    }
}

$ra-currency-size: (
    'xlarge': 3.5rem,
    'large': 2.25rem,
    'medium': 1.5rem
);

@each $class, $size in $ra-currency-size {
    .ra-money--#{$class} {
        font-family: $dosis-bold;
        font-size: $size;
    }
}

// CTA
.ra-cta {
    font-family: $roboto-bold;
    font-size: 1rem;
    color: $color-primary-blue;
    text-transform: uppercase;
}

// Input text
.ra-input-text {
    font-family: $dosis;
    font-size: 1rem;
    line-height: 1em;
}

// Label
.ra-label {
    font-family: $roboto-light;
    font-size: .875rem;
    line-height: 1.2em;
    color: $color-greyish-brown;
    text-transform: uppercase;

    &--small {
        font-size: .75rem;
    }
}

//Text colors
@each $class, $color in $ra-colors {
    .text-#{$class} {
        color: $color;
    }
}

a {
    color: $color-primary-blue;

    &:hover,
    &:active,
    &:visited {
        color: $color-primary-blue;
    }
}

// Text transforms & font styles
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-italic {
    font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-underlined {
    border-bottom: 1px solid $color-primary-blue;
}
