<!DOCTYPE html>
<html class="no-js" lang="pl">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-title" content="Papet">
    <meta name="application-name" content="Papet">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"/>

    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.id %>"></div>
  </body>
</html>
